//nav 

sup {
    font-size: 15px;
    vertical-align: super;
}

#Navid {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
     width: 100%;
     padding: 0px 30px;
   
  ;

    .navi__logo {
        display: flex;
        justify-content: space-between;
       
         
    }


    .navi__list {
        display: flex;
       
       
    }
   .iconos {
       flex-grow: initial;
   }
 
}


