// texto de Catalogo Section

.catalogText {
    font-weight: 500;
    font-size: 40px;;
}



// Parrafo caracteristicas section Profile

.profile__parrafo{
    .profile__parrafo__primer {
        font-weight: bolder;

    }
    .profile__parrafo__segundo {
        font-weight: lighter;
        color: grey;
        
    }
}


