
//SECCION INICIO / PROFILE

@media (max-width:540px) {
    .profile {
        display: flex;
        justify-content: center;
        padding: 40px 0px;
        align-items: center;
        width: 100%;
    }
    .profile__container {
        display: flex;
        padding: 0px 40px;
       
       
       
      }
      @media (max-width: 540px) {
        .profile__botton {
           display: none;
        }
      
    }
}


// BOTONES  section profile


@media (min-width:540px) {
    #Inicio {
        display: flex;
        justify-content: space-between;
        padding: 30px 0px;
        width: 100%;
    }
}





//h2 de grid 

@media (max-width:575px) {
    .catalogText {
        text-align: center;
    }
}