
.principal { 
    text-align : right;
    background-image: url(../img/image-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
    padding: 150px 50px;
    
 ;
  
  }